.btn {
  width: 100%;
  max-width: 375px;
  min-width: 155px;
  height: 65px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  color: $white;
  line-height: normal;

  &.primary {
    box-shadow: 0 5px 30px 0 rgba(69, 198, 214, 0.4);
    background-color: $lightBlue;
  }

  &.secundary {
    border: 2px solid $greyBlue;
    background-color: $spaceBlue;
  }

  &.third {
    background: transparent !important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
    border: solid 2px #4a90e2;
    color: $white;

    &:hover {
      background: transparent;
    }
  }

  &.fourth {
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
    background-color: $white;
    color: $royalBlue;
  }

  &.fifth {
    border: 2px solid $grey;
    background-color: $lightGrey;
    color: $darkGrey;
  }

  &.icon {
    width: auto;
    padding: 0 30px;
    @extend .flex-row-center-center-center;

    img,
    svg {
      height: 15px;
      margin-right: 10px;
    }
  }

  &.outline {
    background-color: transparent;
    border: solid 2px $lightGreen;
    border-radius: 32px;
    color: $lightGreen;
    transition: 0.33s;

    &:hover {
      background-color: $lightGreen;
      color: $white;
    }
  }
}
