.companyData {
  margin-left: 10px;
  @extend .flex-column-center-center-center;
}
.companyData p {
  margin-top: 8px;
}
.companyStatus {
  margin-left: 10px;
  margin-top: 33px;
}
.gridItem {
  background-color: #212b47;
  height: 120px;
  width: 360px;
  border-radius: 20px;
  @extend .flex-row-start-start-start;
}
.Companylogo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 2;
}
.Companylogo p {
  color: #4d5154;
  z-index: 2;
  font-family: "Circular Std Bold";
  font-size: 10px;
  text-align: center;
  margin-top: 13px;
}

.companyLogoAlignment {
  margin-top: 30px;
  margin-left: 10px;
}
