.labelStatus {
  width: 110px;
  height: 40px;
  border-radius: 100px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  @extend .flex-column-center-center-center;

  &.active {
    @extend .background-lightGreen;
  }

  &.inactive {
    @extend .background-black;
  }

  &.canceled {
    @extend .background-red;
  }

  p {
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
    @extend .font-circularBold-15px;
  }
}

.breadcrumb-container {
  @extend .flex-row;

  .breadcrumb {
    background-color: $dark-blue-grey;
    border-radius: 0 100px 100px 0;
    border: solid 1px $dark-grey-blue;
    height: 50px;
    position: relative;
    width: 175px;
    z-index: 1;

    @extend .flex-column-center;

    // breadcrumbs assim geralmente são poucos, mas dá pra melhorar com um loopzão
    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }

    &:nth-child(4) {
      z-index: 1;
    }

    &:not(:first-child) {
      margin-left: -20px;
    }

    &:last-of-type {
      p {
        color: $white;
      }
    }

    p {
      color: rgba(255, 255, 255, 0.25);
      font-weight: bold;
      height: 50px;
      line-height: 50px;
      margin: 0;
      text-align: center;
      width: 100%;
      @extend .font-circularBold-15px;
    }
  }
}

.label-icon {
  display: flex;
  align-items: center;

  p,
  h1,
  h2,
  h3,
  h4 {
    margin: 0 0 0 1rem;
  }
}

.label-card {
  border-radius: 20px;
  background-color: $greyBlue;
  padding: 1.5rem 2.5rem;

  display: flex;
  justify-content: center;
}

.label-card-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .label-card {
    &:first-child {
      margin-right: 5px;
    }

    &:last-of-type {
      margin-left: 5px;
    }

    &:not(:first-child):not(:last-of-type) {
      margin: 0 5px;
    }
  }
}
