/*
========================================================

                        COLORS

========================================================
*/

@each $color, $value in (someColor, #000000) {

    .color-#{$color} {
        color: $value;
    }

    .background-#{$color}{
        background-color: $value;
    }

}

/*
========================================================

                        FONTS

========================================================
*/

@font-face {
    font-family: 'Circular Std Black';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Black'), url('../fonts/CircularStd-Black.woff') format('woff'), local('Circular Std Black'), url('../fonts/CircularStd-Black.otf') format('otf');
 }
 
 @font-face {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Book'), url('../fonts/CircularStd-Book.woff') format('woff'), local('Circular Std Book'), url('../fonts/CircularStd-Book.otf') format('otf');
 }
 
 @font-face {
    font-family: 'Circular Std Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Medium'), url('../fonts/CircularStd-Medium.woff') format('woff'), local('Circular Std Medium'), url('../fonts/CircularStd-Medium.otf') format('otf');
 }
 
 @font-face {
    font-family: 'Circular Std Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'), url('../fonts/CircularStd-Bold.woff') format('woff'), local('Circular Std Bold'), url('../fonts/CircularStd-Bold.otf') format('otf');
 }

 @each $font, $type, $weight, $size in
   // Regular fonts
   ('Circular Std Book', book, 400, 9px), ('Circular Std Book', book, 400, 10px), ('Circular Std Book', book, 400, 12px), ('Circular Std Book', book, 400, 13px), ('Circular Std Book', book, 400, 15px), ('Circular Std Book', book, 400, 20px),
   ('Circular Std Book', book, 400, 25px), ('Circular Std Book', book, 400, 35px), ('Circular Std Book', book, 400, 40px),

   // MEDIUM FONTS
   ('Circular Std Medium', medium, 400, 9px), ('Circular Std Medium', medium, 400, 10px), ('Circular Std Medium', medium, 400, 12px), ('Circular Std Medium', medium, 400, 13px), ('Circular Std Medium', medium, 400, 15px), ('Circular Std Medium', medium, 400, 20px),
   ('Circular Std Medium', medium, 400, 25px), ('Circular Std Medium', medium, 400, 35px), ('Circular Std Medium', medium, 400, 40px),

   // SEMIBOLD FONTS
   ('Circular Std Bold', bold, 400, 9px), ('Circular Std Bold', bold, 400, 10px), ('Circular Std Bold', bold, 400, 12px), ('Circular Std Bold', bold, 400, 13px), ('Circular Std Bold', bold, 400, 15px), ('Circular Std Bold', bold, 400, 20px),
   ('Circular Std Bold', bold, 400, 25px), ('Circular Std Bold', bold, 400, 35px), ('Circular Std Bold', bold, 400, 40px),

   // BOLD FONTS
   ('Circular Std Black', black, 400, 9px), ('Circular Std Black', black, 400, 10px), ('Circular Std Black', black, 400, 12px), ('Circular Std Black', black, 400, 13px), ('Circular Std Black', black, 400, 15px), ('Circular Std Black', black, 400, 20px),
   ('Circular Std Black', black, 400, 25px), ('Circular Std Black', black, 400, 35px), ('Circular Std Black', black, 400, 40px){

   .font-#{$type}-#{$size}{
       font: {
           family: $font;
           weight: $weight;
           size: $size;
       }
   }
}

// @each $type, $weight, $size in (fontType: regular, fontWeight: 400, fontSize: 10px){
    
// }

@each $font in lowercase, capitalize, uppercase {
  .text-#{$font} {
    text-transform: $font;
  }
}


/*
========================================================

                        BOX SHADOW

========================================================
*/

@each $color, $align, $shadow, $value in (nameColor, verticalAlign, sizeShadow, someColor){

    .shadow-#{$color}{
        box-shadow: 0 $align $shadow $value;
    }

}

/*
========================================================

                        BORDER

========================================================
*/

@each $color, $border in (someColor, borderColor){

    .border-#{$color}{
        border: 2px solid $border;
    }

}

/*
========================================================

                         FILL COLOR
                       (used on svg)

========================================================
*/

@each $fill, $color in (nameColor, someColor){
    .fill-#{$fill} {
        fill: $color;
        stroke: $color;
        stroke-width: 0;
        stroke-linecap: butt;
        stroke-dasharray: 0;
    }
}

/*
========================================================

                        TRANSITIONS

========================================================
*/


.transition-cubic{
    transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
}

/*
========================================================

                        Filter

========================================================
*/

.filter, img{
    &.black-white{
        filter: grayscale(100%);
        img{
            opacity: 0.3;
        }
    }
}

.filter-box{
    filter: grayscale(100%);
    img{
        opacity: 0.1
    }
}


/*
========================================================

                        FORMS

========================================================
*/


.form{

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"]{
        padding: 5px;
        border: solid #D0D4DA 1px;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        margin: 5px;
    }

    button{
        padding: 5px;
        border: solid #D0D4DA 1px;
        border-radius: 3px;
        width: 100%;
        box-sizing: border-box;
        margin: 5px;
    }
}